/* Order matters */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Images and videos are constrained to the parent width
   * while preserving their intrinsic aspect-ratio
   */
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  p {
    margin: 0;
  }
}

@layer global {
  .container {
    padding: var(--inline-spacing) var(--content-padding);
  }

  .flex {
    display: flex;
  }

  .flex.flex-column {
    flex-direction: column;
  }

  .flex.flex-row {
    flex-direction: row;
  }

  .flex-gap {
    gap: var(--content-padding, 1.125rem);
  }

  .h-100 {
    height: 100%;
  }

  .m-auto {
    margin: 0 auto;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--bluegray-200) var(--bluegray-50);
  }

  *::-webkit-scrollbar-track {
    width: var(--scrollbar-width);
    background-color: var(--bluegray-50);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--bluegray-200);
  }
}
