/* Order matters */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Images and videos are constrained to the parent width
   * while preserving their intrinsic aspect-ratio
   */
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  p {
    margin: 0;
  }
}

@layer global {
  .container {
    padding: var(--inline-spacing) var(--content-padding);
  }
}
